<% if total_kcal == 0 %>
  <% if current_user.sign_in_count <= 1 %>  
  <%- current_user.update_attribute(:sign_in_count, 2) -%> 
  <div class="notice">Seja bem vindo, <strong><%= current_user.name %></strong>! Se tiver dúvidas sobre como usar o sistema, <%= link_to 'fale conosco', 'http://www.contacal.com.br/contato/', :target => '_blank' %>.</div>
  <% else %>
    <div class="notice">Bem vindo de volta, <strong><%= current_user.name %></strong>!</div>
  <% end %>
<% elsif percent_kcal_kind_b <= 35 and percent_kcal_kind_c <= 10 %>
  <div class="notice">Parabéns, <strong><%= current_user.name %></strong>! Sua dieta está dentro dos padrões recomendados!</div>
<% else %>
  <div class="alert">Quase lá, <strong><%= current_user.name %></strong>! Ingira mais calorias verdes e menos amarelas e vermelhas.</div>
<% end %>