<%- if total_kcal == 0 -%>
  <% if current_user.sign_in_count <= 1 %>  
  <%- current_user.update_attribute(:sign_in_count, 2) -%> 
  <div class="notice">Seja bem vindo, <strong><%= current_user.name %></strong>! Se tiver dúvidas sobre como usar o sistema, confira a nossa <%= link_to "ajuda", '/ajuda.html', :class => "terms-of-use-fancybox", :id => "primeira_vez" %>.</div>
  <% else %>
    <div class="notice">Bem vindo de volta, <strong><%= current_user.name %></strong>! Confira nossas últimas novidades em <%= link_to "nosso blog", 'http://www.contacal.com.br/blog', :class => "terms-of-use-fancybox" %>.</div>
  <% end %>
<% elsif percent_kcal_kind_b <= 35 and percent_kcal_kind_c <= 10 %>
  <div class="notice">Parabéns, <strong><%= current_user.name %></strong>! Sua dieta está dentro dos <%= link_to 'padrões recomendados', 'http://www.contacal.com.br/o-que-sao-as-calorias-vermelhas-amarelas-e-verdes/', :class => "terms-of-use-fancybox" %>.</div>
<% else %>
  <div class="alert">Quase lá, <strong><%= current_user.name %></strong>! Continue atualizando sua dieta com <%= link_to 'mais alimentos verdes e menos alimentos vermelhos', 'http://www.contacal.com.br/o-que-sao-as-calorias-vermelhas-amarelas-e-verdes/', :class => "terms-of-use-fancybox" %>.</div>
<% end %>