<% content_for :header_info do %>
  <div id="kcal-limit">
    Limite diário de calorias:<br />
    <% if current_user.kcal_limit.nil? %>
      <span id="kcal-limit-value"><%= link_to "indefinido", '#', :id => 'kcal-limit-link' %></span>
      <span id="change-kcal-label">definir</span>
    <% else %>
      <span id="kcal-limit-value"><%= link_to "#{current_user.kcal_limit} Kcal", '#', :id => 'kcal-limit-link' %></span>
      <span id="change-kcal-label">alterar</span>
    <% end -%>
    
    <%= form_tag(kcal_limit_path, :remote => true, :method => :put, :id => 'kcal-limit-form', :style => 'display: none') do |f| %>
      <%= text_field_tag :kcal_limit, current_user.kcal_limit %>
      <%= submit_tag "Atualizar" %> 
    <% end -%>
  </div>
<% end %>


<%= javascript_tag %{
  $('#kcal-limit-link').click(function() {
    $('#kcal-limit-value').hide();
    $('#change-kcal-label').hide();
    $('#kcal-limit-form').show();
    $('#kcal_limit').focus();
    $('#kcal_limit').select();
  });
} %>

<br/><br/><br/><br/><br/>

<h2>Total do dia: <span id="total-kcal"><%= number_with_precision(current_user.consumed_kcal, :precision => 0) %></span> Kcal</h2>
<br/><br/><br/>

<%= form_tag do -%>

<% [:breakfast, :brunch, :lunch, :tea, :dinner, :supper].each do |meal| %>
  <h1><%=t ".#{meal}" %> - <span id="total-kcal-<%= meal %>"><%= number_with_precision(current_user.consumed_kcal(:meal => meal), :precision => 0) %></span> Kcal</h1>
  <%= autocomplete_field :food_name, '', autocomplete_food_name_path, :class => "food_name_autocomplete", :"data-meal" => meal -%>

  <ul id="foods-<%= meal %>">
    <%= render current_user.consumed_foods(:meal => meal), :as => 'user_food' %>
  </ul>
<% end -%>

<%- end -%>

<%= javascript_tag %{
  $('.food_name_autocomplete').bind('railsAutocomplete.select', function(event, data){
    $.ajax({
      type: 'POST',
      url: "#{user_foods_url}",
      dataType: "script",
      data: {
        user_food: {
          date: '#{Date.today.to_s(:db)}',
          food_id: data.item.id,
          meal: $(this).attr('data-meal')
        }
      }
    });
    $(this).val('');
  });
} %>
