<% content_for :header_info do %>
  <div id="kcal-limit">
    Limite diário de calorias:<br />
    <% if current_user.kcal_limit.nil? %>
      <span id="kcal-limit-value"><%= link_to "indefinido", '#', :id => 'kcal-limit-link' %></span>
    	<span id="change-kcal-label">definir</span>
    <% else %>
    	<span id="kcal-limit-value"><%= link_to "#{current_user.kcal_limit} Kcal", '#', :id => 'kcal-limit-link' %></span>
    	<span id="change-kcal-label">alterar</span>
    <% end -%>
    
    <%= form_tag(kcal_limit_path, :remote => true, :method => :put, :id => 'kcal-limit-form', :style => 'display: none') do |f| %>
      <%= text_field_tag :kcal_limit, current_user.kcal_limit %>
    	<%= submit_tag "Atualizar" %>	
    <% end -%>
  </div>
<% end %>


<%= javascript_tag %{
	$('#kcal-limit-link').click(function() {
	  $('#kcal-limit-value').hide();
		$('#change-kcal-label').hide();
	  $('#kcal-limit-form').show();
		$('#kcal_limit').focus();
		$('#kcal_limit').select();
	});
} %>

<br/><br/><br/><br/><br/>

Casa da vovó

<%= form_for UserFood.new(:meal => 'breakfast', :date => Date.today, :food_id => nil) do |f| -%>
  <%= f.hidden_field :date %>
  <%= f.hidden_field :food_id %>
  <%= f.hidden_field :meal %>
  <%= autocomplete_field :food_name, '', autocomplete_food_name_path, :update_elements => {:id => '#user_food_food_id'}, :id => "food_name_autocomplete" -%>
<%- end -%>

<%= javascript_tag %{
  $('#food_name_autocomplete').bind('railsAutocomplete.select', function(event, data){
    $.ajax({
      type: 'POST',
      url: "#{user_foods_url}",
      dataType: "script",
      data: $("#new_user_food").serialize()
    });
    $('#food_name_autocomplete').val('');
  });
} %>
