<% content_for :header_info do %>
  <div id="kcal-limit">
    Limite diário de calorias:<br />
    <% if current_user.kcal_limit.nil? %>
      <span id="kcal-limit-value"><%= link_to "indefinido", '#', :id => 'kcal-limit-link' %></span>
    	<span id="change-kcal-label">definir</span>
    <% else %>
    	<span id="kcal-limit-value"><%= link_to "#{current_user.kcal_limit} Kcal", '#', :id => 'kcal-limit-link' %></span>
    	<span id="change-kcal-label">alterar</span>
    <% end -%>
    
    <%= form_tag(kcal_limit_path, :remote => true, :method => :put, :id => 'kcal-limit-form', :style => 'display: none') do |f| %>
      <%= text_field_tag :kcal_limit %>
    	<%= submit_tag "Atualizar" %>	
    <% end -%>
  </div>
<% end %>


<%= javascript_tag %{
	$('#kcal-limit-link').click(function() {
	  $(this).slideUp("fast");
	  $('#kcal-limit-form').slideDown("fast");
	});
	
} %>

<br/><br/><br/><br/><br/>

Casa da vovó

<%= form_for :dashboard do |f| -%>
  <%= f.autocomplete_field :food_name, autocomplete_food_name_path -%>
<%- end -%>


<script type="text/javascript">
  $(document).ready(function(){
    $('#dashboard_food_name').bind('railsAutocomplete.select', function(event, data){
      alert(data.item.id);
    });
  });
</script>
