
<% if current_user.kcal_limit.nil? %>
	<%= link_to 'definir', '#', :id => 'kcal-limit-link' %>	
<% else %>
	<span id="kcal-limit-value"><%= current_user.kcal_limit %></span> <%= link_to 'alterar', '#', :id => 'kcal-limit-link' %>
<% end -%>

<%= form_tag(kcal_limit_path, :remote => true, :method => :put, :id => 'kcal-limit-form', :style => 'display: none') do |f| %>
  <%= text_field_tag :kcal_limit %>
	<%= submit_tag "Atualizar" %>	
<% end -%>


<%= javascript_tag %{
	$('#kcal-limit-link').click(function() {
	  $('#kcal-limit-form').show();
		$(this).hide();
	});
	
} %>

<br/><br/><br/><br/><br/>

Casa da vovó

<%= form_for :dashboard do |f| -%>
  <%= f.autocomplete_field :food_name, autocomplete_food_name_path -%>
<%- end -%>


<script type="text/javascript">
  $(document).ready(function(){
    $('#dashboard_food_name').bind('railsAutocomplete.select', function(event, data){
      alert(data.item.id);
    });
  });
</script>
