<h1 style="color: #6BA16C; font-size: 20px"><%= number_with_precision(@user.consumed_kcal(:date => @date), :precision => 0) %> Kcal consumidas em <%=I18n.l(@date) %></h1>

<%- [:breakfast, :brunch, :lunch, :tea, :dinner, :supper].each do |meal| -%>
  <% next if @user.consumed_kcal(:date => @date, :meal => meal).zero? %>
  <div class="meal-box">
    <h2 style="color: #696969; font-size: 16px"><%=t "dashboard.index.#{meal}" %> (<%= number_with_precision(@user.consumed_kcal(:date => @date, :meal => meal), :precision => 0) %> Kcal)</h2>
    <ul id="foods-<%= meal %>">
      <% @user.consumed_foods(:date => @date, :meal => meal).each do |user_food| %>
        <li><%= "#{user_food.food.name} - #{user_food.food.weight} (#{user_food.food.measure})<br /><em>#{number_with_precision(user_food.amount, :strip_insignificant_zeros => true)} x #{user_food.food.kcal}</em> = <strong>#{number_with_precision(user_food.kcal, :precision => 0)} Kcal</strong>".html_safe %></li>
      <% end -%>
    </ul>
  </div>
<%- end -%>

<p><%= link_to 'Acompanhe Online', root_url, :style => "color: #1E69B4;" %> | <%= link_to 'Veja o relatório dos últimos 7 dias', report_url, :style => "color: #1E69B4;" %></p>