<%= content_for :message_title do %>Resumo diário de hoje (<%=I18n.l(@date) %>)<% end -%>
<p>Olá!</p>
<% if @user.consumed_kcal(:date => @date).zero? %>
  <h1 style="color: #6BA16C; font-size: 20px">Nenhuma refeição registrada hoje.</h1>
  <p>Ops! Você ainda não registrou nenhuma de suas refeições de hoje no ContaCal, não é mesmo?</p>
  <p><%= link_to 'Acesse agora', root_url, :style => "color: #1E69B4;" %> e registre suas refeições. Lembre-se, só se melhora aquilo que se mede!</p>
<% else %>
  <% if @user.kcal_limit.nil? or @user.kcal_limit.zero? or @user.consumed_kcal(:date => @date)/@user.kcal_limit <= 0.7 %>
    <p>Ops! Parece que você ainda não registrou todas as suas refeições no ContaCal.</p>
    <p><%= link_to 'Acesse agora', root_url, :style => "color: #1E69B4;" %> e registre suas refeições. Lembre-se, só se melhora aquilo que se mede!</p>
  <% end -%>

  <h1 style="color: #6BA16C; font-size: 20px"><%= number_with_precision(@user.consumed_kcal(:date => @date), :precision => 0) %> Kcal consumidas hoje.</h1>
  <img src='<%= root_url %>images/a.png' alt='' /> <%= number_with_precision(percent_kcal_kind_a, :precision => 0) %>%
  <img src='<%= root_url %>images/b.png' alt='' /> <%= number_with_precision(percent_kcal_kind_b, :precision => 0) %>%
  <img src='<%= root_url %>images/c.png' alt='' /> <%= number_with_precision(percent_kcal_kind_c, :precision => 0) %>%

  <%- [:breakfast, :brunch, :lunch, :tea, :dinner, :supper].each do |meal| -%>
    <% next if @user.consumed_kcal(:date => @date, :meal => meal).zero? %>
    <div class="meal-box">
      <h2 style="color: #696969; font-size: 16px"><%=t "dashboard.index.#{meal}" %> (<%= number_with_precision(@user.consumed_kcal(:date => @date, :meal => meal), :precision => 0) %> Kcal)</h2>
      <ul id="foods-<%= meal %>">
        <% @user.consumed_foods(:date => @date, :meal => meal).each do |user_food| %>
          <li><%= "#{user_food.food.name}<br />#{user_food.food.weight} (#{user_food.food.measure})<br /><em>#{number_with_precision(user_food.amount, :strip_insignificant_zeros => true)} x #{user_food.food.kcal} Kcal</em> = <strong>#{number_with_precision(user_food.kcal, :strip_insignificant_zeros => true)} Kcal</strong> <img src='#{root_url}images/#{user_food.food.kind}.png' alt='' />".html_safe %></li>
        <% end -%>
      </ul>
    </div>
  <%- end -%>

  <p><%= link_to 'Acompanhe Online', root_url, :style => "color: #1E69B4;" %> | <%= link_to 'Veja o relatório dos últimos 7 dias', report_url, :style => "color: #1E69B4;" %></p>
<% end -%>
<p>Sugestões, dúvidas, mande nos um email para <a href="mailto:info@contacal.com.br" style="color: #1E69B4;">info@contacal.com.br</a>.</p>
