<h1>Editar dados</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :kcal_limit %> <em><%= link_to 'Que limite usar?', 'http://www.contacal.com.br/qual-o-limite-de-calorias-indicado/', :target => '_blank' %></em>
  <%= f.text_field :kcal_limit %></p>
 
  <h2>Recebimento de Emails</h2>

  <p><%= f.check_box :subscribed_daily %>&nbsp;<%= f.label :subscribed_daily %></p>

  <p><%= f.check_box :subscribed_weekly %>&nbsp;<%= f.label :subscribed_weekly %></p>

  <p>Esses emails serão enviados para:</p><p><b><%= user.email %></b></p>

  <p>Caso queira mandar cópia desses emails para outra pessoa (por exemplo, seu nutricionista) para que ela acompanhe seu progresso, preencha os dados abaixo:</p>

  <p><%= f.label :nutri_name %><br />
  <%= f.text_field :nutri_name %></p>

  <p><%= f.label :nutri_email %><br />
  <%= f.email_field :nutri_email %></p>

  <h2>Trocar Senha</h2>

  <p><%= f.label :password %> <em>Deixe em branco para manter a atual</em>
  <%= f.password_field :password, :autocomplete => "off" %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :autocomplete => "off" %></p>


  <h2>Dados de cobrança</h2>

  <p><%= f.label :status %>: 
  <%- if user.status.blank? or user.status == 0 -%>
    Cortesia
  <%- elsif (user.status == 1 or user.status == 10) -%>
    Período de teste gratuito
  <%- elsif (user.status == 2 or user.status == 20) -%>
    Assinante boleto bancário
  <%- elsif (user.status == 4 or user.status == 40) -%>
    Assinante cartão de crédito
  <%- end -%>
</p>

  <%- if !user.status.blank? and user.status > 0 and user.status < 4 and !user.expire_at.blank? -%>
  <p><%= f.label :expire_at %>: <%= user.expire_at.strftime("%d/%m/%Y") %>

    <%- if !user.bank_billet_link.nil? then -%>
    (<a target=_blank href=<%= user.bank_billet_link %>>ver boleto</a>)</p>
    <%- end -%>
  <%- end -%>



<!--  <p><%= f.label :address_street_and_number %><br />
  <%= f.text_field :address_street_and_number %></p>

  <p><%= f.label :address_city %><br />
  <%= f.text_field :address_city %></p>

  <p><%= f.label :address_state %><br />
  <%= f.text_field :address_state %></p>

  <p><%= f.label :address_zipcode %><br />
  <%= f.text_field :address_zipcode %></p>-->

  <p><%= f.submit "Atualizar dados" %></p>
<% end %>

<!--<h3>Desativar conta</h3>-->
<p>
  <%= link_to "&laquo; voltar".html_safe, :back %>
</p>
<br />

<p id="cancel-account"><b>Quer desativar sua conta?</b><br /><br />Apesar de ficarmos muito tristes por você não querer mais usar o ContaCal, respeitamos sua decisão. Para desativar sua conta, basta você <%= link_to "clicar aqui", registration_path(resource_name), :confirm => "Tem certeza de que deseja desativar sua conta?", :method => :delete %>.</p>

