<h1>Editar dados</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %> <em>Deixe em branco para manter a atual</em>
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :current_password, "Senha atual" %> <em>Precisamos da sua senha atual para validar a sua conta</em>
  <%= f.password_field :current_password %></p>

  <p><%= f.check_box :subscribed %>&nbsp;<%= f.label :subscribed %></p>
  <p><%= f.check_box :subscribed_weekly %>&nbsp;<%= f.label :subscribed_weekly %></p>

  <h2>Dados adicionais</h2>

  <p><%= f.label :cpf %><br />
  <%= f.text_field :cpf %></p>

  <p><%= f.label :address_street_and_number %><br />
  <%= f.text_field :address_street_and_number %></p>

  <p><%= f.label :address_city %><br />
  <%= f.text_field :address_city %></p>

  <p><%= f.label :address_state %><br />
  <%= f.text_field :address_state %></p>

  <p><%= f.label :address_zipcode %><br />
  <%= f.text_field :address_zipcode %></p>

  <p><%= f.submit "Atualizar dados" %></p>
<% end %>

<h3>Cancelar conta</h3>

<p id="cancel-account">Não está satisfeito? <%= link_to "cancele sua conta", registration_path(resource_name), :confirm => "Tem certeza de que deseja cancelar sua conta?", :method => :delete %>.</p>

<p>
  <%= link_to "&laquo; voltar".html_safe, :back %>
</p>
