<h1>Editar dados</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :kcal_limit %> <em><%= link_to 'Que limite usar?', 'http://www.contacal.com.br/qual-o-limite-de-calorias-indicado/', :target => '_blank' %></em>
  <%= f.text_field :kcal_limit %></p>
 
  <p>&nbsp;</p>

 <h2>Seu status</h2>
 
   <p>
	<%- if !user.expire_at.blank? -%>
		<%- if Date.today <= user.expire_at -%>
		Acesso liberado
		<%- else -%>
		Acesso expirado
		<%- end -%>
	<%- else -%>
	Acesso liberado
	<%- end -%>
 </p>
 
   <%- if !user.status.blank? and (user.status == 0 or user.status == 1 or user.status == 10 or user.status == 2 or user.status == 20 or user.status == 4 or user.status == 40) and !user.expire_at.blank? -%>
   <p><%= f.label :expire_at %>: <%= user.expire_at.strftime("%d/%m/%Y") %> <!--&roarr; &Gt; &ggg; &xrarr; &rsaquo;&rsaquo;&rsaquo;&rightarrow; &rarrtl; &RightTeeArrow; -->&Rightarrow;  <a href=<%=payment_url%>><font color=#dd0000><b>Renove já</b></font></a>!</p>
   <%- end -%>
   <p>&nbsp;</p>


  <h2>Configurações</h2>

  <p><%= f.check_box :small_portions %>&nbsp;<%= f.label :small_portions %></p>

  <p>&nbsp;</p>
  <h2>Recebimento de Emails</h2>

  <p><%= f.check_box :subscribed_newsletter %>&nbsp;<%= f.label :subscribed_newsletter %></p>
                                                                                   
  <p><%= f.check_box :subscribed_daily %>&nbsp;<%= f.label :subscribed_daily %></p>

  <p><%= f.check_box :subscribed_weekly %>&nbsp;<%= f.label :subscribed_weekly %></p>

  <p>Esses emails serão enviados para:</p><p><b><%= user.email %></b></p>

  <p>Caso queira mandar cópia dos relatórios diários e semanais para outra pessoa (por exemplo, seu nutricionista) para que ela acompanhe seu progresso, preencha os dados abaixo:</p>

  <p><%= f.label :nutri_name %><br />
  <%= f.text_field :nutri_name %></p>

  <p><%= f.label :nutri_email %><br />
  <%= f.email_field :nutri_email %></p>

  <p>&nbsp;</p>
  <h2>Trocar Senha</h2>

  <p><%= f.label :password %> <em>Deixe em branco para manter a atual</em>
  <%= f.password_field :password, :autocomplete => "off" %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :autocomplete => "off" %></p>

<!--  <p><%= f.label :address_street_and_number %><br />
  <%= f.text_field :address_street_and_number %></p>

  <p><%= f.label :address_city %><br />
  <%= f.text_field :address_city %></p>

  <p><%= f.label :address_state %><br />
  <%= f.text_field :address_state %></p>

  <p><%= f.label :address_zipcode %><br />
  <%= f.text_field :address_zipcode %></p>-->

  <p><%= f.submit "Atualizar dados" %></p>
<% end %>

<!--<h3>Desativar conta</h3>-->
<p>
  <%= link_to "&laquo; voltar".html_safe, :back %>
</p>
<br />

<p id="cancel-account"><b>Quer desativar sua conta?</b>
<br /><br />
<%- if ((user.status == 4 or user.status == 40) and user.expire_at.nil?) -%> 
  <%- if user.paypal_email.nil? -%>
    <b>Atenção: </b>como você é assinante via cartão de crédito, você precisa acessar o <a target=new href=http://paypal.com>PayPal</a> para cancelar os pagamentos.<br /><br /> 
  <%- elsif user.paypal_email == "pagseguro" -%>
    <b>Atenção: </b>como você é assinante via cartão de crédito, você precisa acessar o <a target=new href=https://pagseguro.uol.com.br>PagSeguro</a> para cancelar os pagamentos.<br /><br /> 
  <%- else -%>
    <b>Atenção: </b>como você é assinante via cartão de crédito, você precisa acessar o <a target=new href=https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=<%=user.paypal_email%>>PayPal</a> para cancelar os pagamentos.<br /><br /> 
  <%- end -%>
<%- else -%>
Apesar de ficarmos muito tristes por você não querer mais usar o ContaCal, respeitamos sua decisão. Para desativar sua conta, basta você <%= link_to "clicar aqui", registration_path(resource_name),  :method => :delete, :data => { :confirm => "Tem certeza de que deseja desativar sua conta?" } %>.
<%- end -%>
</p>	
