<h1>Cadastre-se</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <% if resource.errors.any? %>
    <center><br>Se esse e-mail é seu <br>você pode <%= link_to "criar uma nova senha", new_password_path(resource_name) %>.</center><br>
  <% end %>

  <center>Experimente grátis o melhor diário alimentar virtual!</center><br>

  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password, :autocomplete => "off" %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :autocomplete => "off" %></p>
  
<!--  <p><%= f.label :referred_by_email %>  Ela pode ganhar <%= link_to "prêmios", '/indique.html', :class => "terms-of-use-fancybox" %>!<br />
  <%= f.email_field :referred_by_email %></p>-->

  <p aling=center><%= f.submit "Criar conta!" %></p>
  
  <p align=center><small>Ao criar sua conta você concorda com<br>nossos <%= link_to "termos de uso", 'http://www.contacal.com.br/termodeuso.mobile.html', :class => "terms-of-use-fancybox" %> super simples.</small></p>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <p><%= link_to "Não recebeu as instruções para validar a conta?", new_confirmation_path(resource_name) %></p>
  <% end -%>
  
  <script type="text/javascript">
    $(document).ready(function(){
      $("a.terms-of-use-fancybox").fancybox({type: 'iframe', width: '120%', height: '120%'});
    });
  </script>
<% end %>
