<h1>Cadastre-se grátis!</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <% if resource.errors.any? %>
    <center><br>Se esse e-mail é seu, você pode <%= link_to "criar uma nova senha", new_password_path(resource_name) %>.<br><br></center>
  <% end %>

<!--  <center>Preencha os dados abaixo. É grátis!</center><br>-->
  
  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password, :autocomplete => "off" %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :autocomplete => "off" %></p>
  
<!--  <p><%= f.label :referred_by_email %>  Ela pode ganhar <%= link_to "prêmios", '/indique.html', :class => "terms-of-use-fancybox" %>!<br />
  <%= f.email_field :referred_by_email %></p>-->

  <p align=center><%= f.submit "Criar conta!" %></p>
<!--  <p align=center>Aceitamos cartão de crédito e boleto bancário!</p>-->
  <p align=center><small>Criando sua conta você concorda com<br>nossos <%= link_to "termos de uso", 'http://www.contacal.com.br/termodeuso.html', :class => "terms-of-use-fancybox" %> super simples.</p>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <p><%= link_to "Não recebeu as instruções para validar a conta?", new_confirmation_path(resource_name) %></p>
  <% end -%>
  
<script type="text/javascript">
  $(document).ready(function(){
    $("a.assina").fancybox({type: 'iframe', width: '70%', height: '100%'});
  });
</script>

<script type="text/javascript">
    $(document).ready(function() {
       $('#close-button').click(function(){
          $.fancybox.close();
       })
    });
</script>
<% end %>

<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<center><h2>Veja como é simples!</h2>
<iframe src="https://player.vimeo.com/video/33258576" width="500" height="319" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
	</div>
</div>

<div id="openModal2" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<center><h2>Veja o que estão falando do ContaCal!</h2><br>
<iframe src="/testemunhos.html" width="500" height="319" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
</div>
