<h1 id="report-title">Opções de pagamento</h1>

<%- if  user.bank_billet_expire_at.nil? or (!user.bank_billet_expire_at.nil? and user.bank_billet_expire_at < Date.today + 1) -%>
    <%- user.update_attribute(:bank_billet_link, nil) -%>
    <%- user.update_attribute(:bank_billet_link_6, nil) -%>
    <%- user.update_attribute(:bank_billet_link_12, nil) -%>
<%- end -%>

<%- date_expire = Date.today+10 -%>
<%- document_number = Date.today.strftime("%Y%m%d") + "%08d" % user.id -%> 

<%- if  user.bank_billet_link.nil? -%>
  <%- description = "Pagamento mínimo por boleto: trimestral.\n\nATENÇÃO: O acesso ao ContaCal somente será liberado após o pagamento deste boleto.\n\nSeu login ContaCal é \"" + user.email + "\"."-%>
  <%- bb = Cobregratis::BankBillet.new(:amount => 29.40, :expire_at_date_string => date_expire.strftime("%d/%m/%Y"), :name => user.name, :acceptance => "S", :document_number => document_number, :description => description) -%>
  <%- if bb.save -%>
    <%- user.update_attribute(:bank_billet_link, bb.attributes["external_link"]) -%>
    <%- user.update_attribute(:bank_billet_our_number, bb.attributes["our_number"]) -%>
    <%- user.update_attribute(:bank_billet_expire_at, date_expire.strftime("%Y-%m-%d")) -%>
    <%- sleep(1) -%>
  <%- end -%>
<%- end -%>
<%- if  user.bank_billet_link_6.nil? -%>
  <%- description = "Assinatura semestral.\n\nATENÇÃO: O acesso ao ContaCal somente será liberado após o pagamento deste boleto.\n\nSeu login ContaCal é \"" + user.email + "\"."-%>
  <%- bb = Cobregratis::BankBillet.new(:amount => 55.80, :expire_at_date_string => date_expire.strftime("%d/%m/%Y"), :name => user.name, :acceptance => "S", :document_number => document_number, :description => description) -%>
  <%- if bb.save -%>
    <%- user.update_attribute(:bank_billet_link_6, bb.attributes["external_link"]) -%>
    <%- user.update_attribute(:bank_billet_our_number_6, bb.attributes["our_number"]) -%>
    <%- user.update_attribute(:bank_billet_expire_at, date_expire.strftime("%Y-%m-%d")) -%>
    <%- sleep(1) -%>
  <%- end -%>
<%- end -%>
<%- if  user.bank_billet_link_12.nil? -%>
  <%- description = "Assinatura anual.\n\nATENÇÃO: O acesso ao ContaCal somente será liberado após o pagamento deste boleto.\n\nSeu login ContaCal é \"" + user.email + "\"."-%>
  <%- bb = Cobregratis::BankBillet.new(:amount => 93.60, :expire_at_date_string => date_expire.strftime("%d/%m/%Y"), :name => user.name, :acceptance => "S", :document_number => document_number, :description => description) -%>
  <%- if bb.save -%>
    <%- user.update_attribute(:bank_billet_link_12, bb.attributes["external_link"]) -%>
    <%- user.update_attribute(:bank_billet_our_number_12, bb.attributes["our_number"]) -%>
    <%- user.update_attribute(:bank_billet_expire_at, date_expire.strftime("%Y-%m-%d")) -%>
    <%- sleep(1) -%>
  <%- end -%>
<%- end -%>        

<table border=0 cellspacing=0 cellpadding=15>
  <tr bgcolor=#ffffff>
  	<td colspan=7 bgcolor=#ffffff><font size=3>Temos opção de assinatura com cartão de crédito via PayPal ou PagSeguro. Escolha a que lhe convier:<br></td>
  </tr>
  <tr bgcolor=#ffffff>
  	<td bgcolor=#ffffff></td>
	<td bgcolor=#ffffff align=center valign=top>                                                                                                                                         
		<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="PEJHG3LJ2U9HC">
		<input type="image" src="/images/assinar-paypal.png" border="0" name="submit" alt="PayPal - A maneira mais fácil e segura de efetuar pagamentos online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
		</form>
		
<!--   	<a href=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=PEJHG3LJ2U9HC><img src="/images/paypal.png"></a><br>-->
<!--		<%= link_to "&nbsp;&nbsp;Assinar!&nbsp;&nbsp;".html_safe, "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=PEJHG3LJ2U9HC"  , :class => 'botao_assinar' %>-->
	</td>
  	<td bgcolor=#ffffff></td>
    <td width=100% bgcolor=#ffffff valign=top><font size=3>
<li> Assinatura mensal de apenas <strong>R$ 9,80</strong>.</li>
<!--<li> Pagamento via PayPal ou PagSeguro, as formas <strong>mais seguras</strong> para pagar com cartão de crédito na internet.</li>-->
<li> Sem nenhuma taxa adicional de cobrança.</li>
<li> Liberação do acesso automática, minutos após o pagamento.</li>
<li> Renovação automática para você registrar suas refeições todos os dias, sem interrupções.</li>
	</ul>
	</td>
  	<td bgcolor=#ffffff></td>
	<td bgcolor=#ffffff align=center valign=top>
		<form target="pagseguro" action="https://pagseguro.uol.com.br/v2/pre-approvals/request.html" method="post">
		<input type="hidden" name="code" value="62C8E43828289E0AA483CF9167A4D845" />
		<input type="image" src="/images/assinar-pagseguro.png" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
		</form>	
  	<td bgcolor=#ffffff></td>
  </tr>
<%- if !user.bank_billet_link.nil? or !user.bank_billet_link_6.nil? or !user.bank_billet_link_12.nil?-%>
<!--  <tr bgcolor=#ffffff>
  	<td colspan=7 bgcolor=#ffffff><font size=2>Temos também opção de assinatura com boleto:<br></td>
  </tr>-->
  <tr>
	<td bgcolor=#ffffff></td>
	<td bgcolor=#ffffff align=center valign=top><small><img width=85% src=/images/boleto.png><br/>
		<a target=_blank href=<%=user.bank_billet_link%>>Trimestral</a><br/>
		<a target=_blank href=<%=user.bank_billet_link_6%>>Semestral</a><br/>
		<a target=_blank href=<%=user.bank_billet_link_12%>>Anual</a>
		
		
	</td>
	<td bgcolor=#ffffff></td>
    <td colspan=7><font size=2> 
	Temos também opção de assinatura com boleto:<br><br>
<%- if !user.bank_billet_link.nil? -%>
	   <li> <strong><a target=_blank href=<%=user.bank_billet_link%>>Trimestral</a>:</strong> R$ 29,40 - como o banco nos cobra uma taxa de quase R$ 4,00 para pagamento por boleto, não temos como oferecer opção mensal para esse meio de pagamento.</li>
<%- end -%>
<%- if !user.bank_billet_link_6.nil? -%>
	   <li> <strong><a target=_blank href=<%=user.bank_billet_link_6%>>Semestral</a>:</strong> R$ 55,80 - 5% de desconto sobre o preço mensal. Equivale a <strong>R$ 9,30 por mês</strong>.</li>
<%- end -%>
<%- if !user.bank_billet_link_12.nil? -%>
	   <li> <strong><a target=_blank href=<%=user.bank_billet_link_12%>>Anual</a>:</strong> R$ 93,60 - 20% de desconto sobre o preço mensal. Equivale a <strong>R$ 7,80 por mês</strong>.</li>
<%- end -%>
    <br><strong><font color=#de0000>Atenção:</font></strong> Com pagamento via boleto bancário pode levar <strong>2 dias úteis</strong> para sua assinatura ser liberada, que é o tempo que o banco leva para nos informar quando um boleto é pago. Se você pagar na sexta à noite, seu acesso só será liberado na terça da semana seguinte. Nos feriados pode demorar ainda mais... :-/
    </td>
  </tr>
<!--  <tr bgcolor=#ffffff>
	<td colspan=7 bgcolor=#ffffff><font size=2><strong><font color=#de0000>Atenção:</font></strong> Com pagamento via boleto bancário pode levar <strong>2 dias úteis</strong> para sua assinatura ser liberada, que é o tempo que o banco leva para nos informar quando um boleto é pago. Se você pagar na sexta à noite, seu acesso só será liberado na terça da semana seguinte.</td>
  </tr>-->
<%- end -%>
</table>        

<br/>
<p>
  <%= link_to "&laquo; voltar para o programa".html_safe, root_path %>
</p>