<h1 id="report-title">Opções de pagamento</h1>

<%- date_expire = Date.today+20 -%>
<%- document_number = Date.today.strftime("%Y%m%d") + "%08d" % user.id -%> 
<%- if  user.bank_billet_link.nil? -%>
  <%- description = "R$ 12,80 = 9,80 (valor mensal) + 3,00 (taxa de emissão de boleto)\n\nATENÇÃO: O acesso ao ContaCal somente será liberado após o pagamento deste boleto.\n\nSeu login ContaCal é \"" + user.email + "\"."-%>
  <%- bb = Cobregratis::BankBillet.new(:amount => 12.80, :expire_at_date_string => date_expire.strftime("%d/%m/%Y"), :name => user.name, :acceptance => "S", :document_number => document_number, :description => description) -%>
  <%- if bb.save -%>
    <%- user.update_attribute(:bank_billet_link, bb.attributes["external_link"]) -%>
    <%- user.update_attribute(:bank_billet_our_number, bb.attributes["our_number"]) -%>
    <%- sleep(1) -%>
  <%- end -%>
<%- end -%>
<%- if  user.bank_billet_link_6.nil? -%>
  <%- description = "Assinatura semestral.\n\nATENÇÃO: O acesso ao ContaCal somente será liberado após o pagamento deste boleto.\n\nSeu login ContaCal é \"" + user.email + "\"."-%>
  <%- bb = Cobregratis::BankBillet.new(:amount => 55.80, :expire_at_date_string => date_expire.strftime("%d/%m/%Y"), :name => user.name, :acceptance => "S", :document_number => document_number, :description => description) -%>
  <%- if bb.save -%>
    <%- user.update_attribute(:bank_billet_link_6, bb.attributes["external_link"]) -%>
    <%- user.update_attribute(:bank_billet_our_number_6, bb.attributes["our_number"]) -%>
    <%- sleep(1) -%>
  <%- end -%>
<%- end -%>
<%- if  user.bank_billet_link_12.nil? -%>
  <%- description = "Assinatura anual.\n\nATENÇÃO: O acesso ao ContaCal somente será liberado após o pagamento deste boleto.\n\nSeu login ContaCal é \"" + user.email + "\"."-%>
  <%- bb = Cobregratis::BankBillet.new(:amount => 93.60, :expire_at_date_string => date_expire.strftime("%d/%m/%Y"), :name => user.name, :acceptance => "S", :document_number => document_number, :description => description) -%>
  <%- if bb.save -%>
    <%- user.update_attribute(:bank_billet_link_12, bb.attributes["external_link"]) -%>
    <%- user.update_attribute(:bank_billet_our_number_12, bb.attributes["our_number"]) -%>
    <%- sleep(1) -%>
  <%- end -%>
<%- end -%>

<table border=0 cellspacing=0 cellpadding=15>
  <tr bgcolor=#ffffff>
  	<td bgcolor=#ffffff></td>
	<td bgcolor=#ffffff align=center valign=top>
		<a onMouseOver="this.style.textDecoration='none'"
		   onMouseOut="this.style.textDecoration='none'" href=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=PEJHG3LJ2U9HC><img src="/images/paypal.png"></a><br>
		<%= link_to "&nbsp;&nbsp;Assinar!&nbsp;&nbsp;".html_safe, "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=PEJHG3LJ2U9HC"  , :class => 'botao_assinar' %>
	</td>
  	<td bgcolor=#ffffff></td>
    <td width=100% bgcolor=#ffffff valign=top><font size=3>
<li> Assinatura mensal de apenas <strong>R$ 9,80</strong>.</li>
<li> Pagamento via PayPal, a forma <strong>mais segura</strong> para pagar com cartão de crédito na internet.</li>
<li> Sem nenhuma taxa adicional de cobrança.</li>
<li> Liberação do acesso automática, minutos após o pagamento.</li>
<li> Renovação automática para você registrar suas refeições todos os dias, sem interrupções.</li>
	</ul>
	</td>
  </tr>
<%- if !user.bank_billet_link.nil? or !user.bank_billet_link_6.nil? or !user.bank_billet_link_12.nil?-%>
<tr>
  <td colspan=4>
	<font size=1><strong>Temos também opção de pagamento com boleto:</strong><br/>
<%- if !user.bank_billet_link.nil? -%>
	   &bull; <a target=_blank href=<%=user.bank_billet_link%>>Mensal</a> (R$ 12,80 - como o banco nos cobra uma taxa de R$ 3,00 somos obrigados a repassar esse custo para nossos clientes, então o boleto mensal total é de R$ 12,80.)<br/> 
<%- end -%>
<%- if !user.bank_billet_link_6.nil? -%>
	   &bull; <a target=_blank href=<%=user.bank_billet_link_6%>>Semestral</a> (R$ 55,80 - 5% de desconto sobre o preço mensal. Equivale a <strong>R$ 9,30 por mês</strong>)<br/>
<%- end -%>
<%- if !user.bank_billet_link_12.nil? -%>
	   &bull; <a target=_blank href=<%=user.bank_billet_link_12%>>Anual</a> (R$ 93,60 - 20% de desconto sobre o preço mensal. Equivale a <strong>R$ 7,80 por mês</strong>)<br/>
<%- end -%>
       <strong><font color=#de0000>Atenção:</font></strong> Com pagamento via boleto bancário pode levar <strong>2 dias úteis</strong> para sua assinatura ser liberada, que é o tempo que o banco leva para nos informar quando um boleto é pago. Se você pagar na sexta à noite, seu acesso só será liberado na terça da semana seguinte.<br/>
</font>
  </td>
</tr>
<%- end -%>
</table>        

<br/>
<p>
  <%= link_to "&laquo; voltar para o programa".html_safe, root_path %>
</p>