<% slider_id = "slider-meal-#{user_food.id}" %>

<% step = 0.5 %>
<% step = 0.1 if user.small_portions %>
<li>                                     
  <%= "#{user_food.food.name}<br />#{user_food.food.weight} (#{user_food.food.measure})<br /><em><span id='slider-meal-amount-#{user_food.id}'>#{number_with_precision(user_food.amount, :strip_insignificant_zeros => true)}</span> x #{user_food.food.kcal} Kcal</em> = <strong><span id='slider-meal-total-#{user_food.id}'>#{number_with_precision(user_food.kcal, :strip_insignificant_zeros => true)}</span> Kcal</strong> #{image_tag("#{user_food.food.kind}.png")}".html_safe %>
  <%= link_to "Remover", user_food_url(user_food.id, :format => :js), :method => :delete, :remote => true, :class => "removeMob" %>
   <div class="slide">
      <div class="sliderBt down-slider" id='down-<%= slider_id %>'><a href="javascript:void(0)">-</a></div> 
	  <div class="sliderBt up-slider" id='up-<%= slider_id %>'><a href="javascript:void(0)">+</a></div>
      <div class="slider" id="<%= slider_id %>">&nbsp;</div>       
    </div>
<!--    <div class="slider-none" id="<%= slider_id %>">&nbsp;</div> -->
</li>
<%= javascript_tag %{
$(function() {
  var s = $( "##{slider_id}" ).slider({
    value: #{user_food.amount},
    min: #{step},
    max: 10,
    step: #{step},
    slide: function( event, ui ) {
      $('#slider-meal-amount-#{user_food.id}').html(ui.value.toFixed(1).toString().replace('.',','));
      $('#slider-meal-total-#{user_food.id}').html((ui.value.toFixed(1)*#{user_food.food.kcal}).toString().replace('.',','));
    },
    change: function( event, ui ) {
      $.ajax({
        type: 'PUT',
        url: "#{user_food_url(user_food)}",
        dataType: "script",
        data: {
          user_food: {
            amount: ui.value
          }
        }
      });
    }
  });
  $('#down-#{slider_id}').click(function() {
    s.slider('value', s.slider('value') - s.slider( "option", "step" ) );   
  });
  $('#up-#{slider_id}').click(function() {
    s.slider('value', s.slider('value') + s.slider( "option", "step" ) );   
  });
});
} %>
