<h1>Acesso ao sistema</h1>

<p id="registration">
  <%= link_to "<span>Ainda não é assinante?</span> Apenas R$ 17,90 por mês!".html_safe, new_user_registration_url %>
</p>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%- if notice.present? %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <%- if alert.present? %>
    <p class="alert"><%= alert %></p>
  <% end %>
  
  <fieldset>
    <p><%= f.label :email %><br />
    <%= f.email_field :email %></p>

    <p><%= f.label :password %> <%- if devise_mapping.recoverable? && controller_name != 'passwords' %><%= link_to "(Esqueceu a senha?)", new_password_path(resource_name) %><% end -%><br />
    <%= f.password_field :password %></p>

    <% if devise_mapping.rememberable? -%>
      <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
    <% end -%>
    
    <p><%= f.submit "Acessar" %></p>
  </fieldset>
<% end %>