<h1>Sugerir Novo Alimento ou Exercício</h1>

<%= render_flash_messages %>

<%= form_for(@food, :html => { :method => :post }) do |f| %>
  <%- if @food.errors.any? -%>
    <div id="error_explanation">
      <h2>Verifique os erros abaixo:</h2>
      <ul>
      <% @food.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <%- end -%>

  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>

  <p><%= f.label :weight %><br />
	<small><%= f.label :weight_explain %></small>
  <%= f.text_field :weight %></p>

  <p><%= f.label :measure %><br />
	<small><%= f.label :measure_explain %></small>
  <%= f.text_field :measure %></p>

  <p><%= f.label :kcal %><br />
  <%= f.text_field :kcal, :style => 'width: 50px' %></p>

  <p><%= f.label :kind %><br />
  <%= f.select :kind, {'Tipo Verde' => 'a', 'Tipo Amarela' => 'b', 'Tipo Vermelha' => 'c' , 'Exercício' => 'd'} %></p>

  <p><%= f.submit "Enviar Sugestão" %></p>
<% end %>

<p>
  <%= link_to "&laquo; voltar".html_safe, root_path %>
</p>
