<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>ContaCal - Só se melhora o que se mede!</title>
  <link href='/favicon.png' rel='shortcut icon'>
  <%= stylesheet_link_tag "contacal", "jquery-ui", "jquery.fancybox-1.3.4", "reset" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>

  <!--[if lt IE 9]>
    <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
  <![endif]-->

  <!--[if lte IE 7]>
    <link href="/stylesheets/iefix.css" media="all" rel="stylesheet" />
  <![endif]-->
</head>
<body id="<%= controller.controller_name %>">
  <header>
    <%- if user_signed_in? -%>
      <div id="masthead">
        <p>Olá, <strong><%= current_user.name %></strong> <%= link_to "(editar perfil)", edit_user_registration_url %> &bull; <%= link_to "Sair", destroy_user_session_url, :method => :delete %></p>
      </div>
    <%- end -%>
    <div id="logo">
      <a href="<%= root_url %>">ContaCal</a>
    </div>
    
    <%= yield(:header_info) %>
  </header>
  <hr />
  <section role="main">
    <%= yield %>
  </section>
  <hr />
  <footer>
    <p>Copyright &copy; 2011 ContaCal. Dúvidas? Sugestões? <%= link_to 'Fale conosco', 'http://www.contacal.com.br/contato/', :target => '_blank' %>!</p>
  </footer>
<script type="text/javascript"> 

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23488782-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
