<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>ContaCal - Só se melhora o que se mede!</title>
  <meta name="description" content="Sistema simples e eficiente para controlar suas calorias diárias. Basta vc registrar suas refeições e o sistema calcula automaticamente a quantidade de calorias ingerida e ainda informa se as calorias ingeridas são do tipo verde, amarela ou vermelha. As cores servem para indicar quão recomendável é ingerir o alimento. Se é um alimento de calorias vermelhas, é melhor evitá-lo ao máximo. Calorias amarelas podem ser ingeridas com moderação. Já as calorias verdes podem ser ingeridas sem restrição. Como sugestão, procure seguir a seguinte regra, não mais que 10% de calorias vermelhas, não mais que 35% de calorias amarelas e pelo menos 55% de calorias verdes.">
  <meta name="keywords" content="contador de calorias, conta calorias, calorias, emagrecer, emagrecimento, controle de calorias, controle de peso, perder peso, diário de calorias, perda de peso, alimentação saudável, nutrição, informação nutricional">
  <link href='/favicon.png' rel='shortcut icon'>
  <%= stylesheet_link_tag "contacal", "jquery-ui", "jquery.fancybox-1.3.4", "reset" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>

  <!--[if lt IE 9]>
    <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
  <![endif]-->

  <!--[if lte IE 7]>
    <link href="/stylesheets/iefix.css" media="all" rel="stylesheet" />
  <![endif]-->
</head>
<body id="<%= controller.controller_name %>">
  <header>
    <%- if user_signed_in? -%>
      <div id="masthead">
        <p align=right>Olá, <strong><%= current_user.name %></strong>! 
		<%- if current_user.kcal_limit != nil and current_user.kcal_limit > 0 -%>
           Seu limite diário é de <%= current_user.kcal_limit %> Kcal
	    <%- else -%>
           Você ainda não definiu seu <%= link_to "limite diário", edit_user_registration_url %>
	    <%- end -%>
          &bull; <%= link_to "Alterar Dados", edit_user_registration_url %> &bull; <%= link_to "Sair", destroy_user_session_url, :method => :delete %></p>
      </div>
    <%- end -%>
    <div id="logo">
      <a href="<%= root_url %>">ContaCal</a>
    </div>
<!--%-     if current_user.status > 0 -%-->
<!--	<div id="pagante" 
	style="border: 1px solid #ddd;  
	-moz-border-radius: 8px;  
	-webkit-border-radius: 8px; 
	 border-radius: 8px; 
	font-size: .8em; 
    padding: 5px 20px;
	width: 200px; 
	height: 50px;
	background-color: #cccc00; 
	position: absolute; left: 920px; top: 54px">
		Vc é um usuário pagante...<br />-->
		<!--%= user.expire_at.strftime("%d/%m/%Y") %--><!--<br />
		<a target=_blank href=<%=user.bank_billet_link%>><%=user.bank_billet_link%></a>
		
    </div> -->
	<!--%- else -%-->
	<div id="ad" style="position: relative; left: 715px">
	<div id="ad1" style="position: absolute; top: 38px">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-8852943436713720";
		/* ContaCal-Meio-banner */
		google_ad_slot = "7623009538";
		google_ad_width = 234;
		google_ad_height = 60;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
    </div>	
	</div>
	<!--%- end -%-->
<!--    <%= yield(:header_info) %>-->
  </header>
  <hr />
  <section role="main">
    <%= yield %>
  </section>
  <hr />
  <footer>
    <p>Copyright &copy; 2011 ContaCal. Dúvidas? Sugestões? <%= link_to 'Fale conosco', 'http://www.contacal.com.br/contato/', :target => '_blank' %>!</p>
  </footer>
<script type="text/javascript"> 

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23488782-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
