<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>ContaCal</title>
  <meta name="description" content="Sistema simples e eficiente para controlar suas calorias diárias. Basta vc registrar suas refeições e o sistema calcula automaticamente a quantidade de calorias ingerida e ainda informa se as calorias ingeridas são do tipo verde, amarela ou vermelha. As cores servem para indicar quão recomendável é ingerir o alimento. Se é um alimento de calorias vermelhas, é melhor evitá-lo ao máximo. Calorias amarelas podem ser ingeridas com moderação. Já as calorias verdes podem ser ingeridas sem restrição. Como sugestão, procure seguir a seguinte regra, não mais que 10% de calorias vermelhas, não mais que 35% de calorias amarelas e pelo menos 55% de calorias verdes.">
  <meta name="keywords" content="contador de calorias, conta calorias, calorias, emagrecer, emagrecimento, controle de calorias, controle de peso, perder peso, diário de calorias, perda de peso, alimentação saudável, nutrição, informação nutricional">
  <link href='/favicon.png' rel='shortcut icon'>
  <link href="/images/ContaCal-Icone-57x57.png" rel="apple-touch-icon" />
  <link href="/images/ContaCal-Icone-76x76.png" rel="apple-touch-icon" sizes="76x76" />
  <link href="/images/ContaCal-Icone-120x120.png" rel="apple-touch-icon" sizes="120x120" />
  <link href="/images/ContaCal-Icone-152x152.png" rel="apple-touch-icon" sizes="152x152" />
  <link href="/images/ContaCal-Icone-180x180.png" rel="apple-touch-icon" sizes="180x180" />
  <link href="/images/ContaCal-Icone-192x192.png" rel="icon" sizes="192x192" />
  <link href="/images/ContaCal-Icone-128x128.png" rel="icon" sizes="128x128" />
  <%= stylesheet_link_tag "contacal.mobile", "jquery-ui", "jquery.fancybox-1.3.4", "reset", "iefix.mobile", "flash.mobile" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

<script type="text/javascript"> 
if(navigator.userAgent.match(/Android/i)){
   window.scrollTo(0,1);
}
</script>
<!--  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <link rel="stylesheet" href="/stylesheets/my.css" />
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  <script src="/javascript/my.js"></script>-->

  <!--[if lt IE 9]>
    <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
  <![endif]-->

  <!--[if lte IE 7]>
    <link href="/assets/iefix.css" media="all" rel="stylesheet" />
  <![endif]-->
</head>
	<%- if current_page?('/payment') or current_page?('/foods/new') or current_page?('/foods') -%>
<body id="dashboard">	                     
	<%- else -%>
<body id="users-engine" class="<%= controller.controller_name %>">
	<%- end -%>
  <header>
    <div id="logo">
      <a href="<%= root_url(:protocol => "http") %>">ContaCal</a>
    </div>
  </header>                    
  <hr />
  <section role="main">
    <%= yield %>
  </section>
  <hr />
  <footer>
    <p align=center><!--Copyright &copy; 2011 ContaCal.<br>-->Dúvidas? Sugestões? <%= mail_to "info@contacal.com.br", "Fale conosco", :subject => "[ContaCal] Contato via app!" %>!<br>
	Mudar para versão  
	<% if mobile_device? %>
	    <%= link_to "web", :mobile => 0 %>.
	  <% else %>
	    para <%= link_to "celular", :mobile => 1 %>.
	  <% end %>
	</p>
  </footer><br><br><br>
<script type="text/javascript"> 

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23488782-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- Google Code for Tag de remarketing -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
 
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 961104544;
var google_conversion_label = "rHi4CNC-9gQQoJWlygM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/961104544/?value=0&amp;label=rHi4CNC-9gQQoJWlygM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


</body>
</html>
