<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>ContaCal</title>
  <link href='/favicon.png' rel='shortcut icon'>
  <%= stylesheet_link_tag :all %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>

  <!--[if lt IE 9]>
    <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
  <![endif]-->

  <!--[if lte IE 7]>
    <link href="/assets/iefix.css" media="all" rel="stylesheet" />
  <![endif]-->
</head>
<body id="users-engine" class="<%= controller.controller_name %>">
  <header>
    <div id="logo">
      <a href="<%= root_url %>">ContaCal</a>
    </div>
  </header>
  <hr />
  <section role="main">
    <%= yield %>
  </section>
  <hr />
  <footer>
    <p>Copyright &copy; 2011 ContaCal.</p>
  </footer>
</body>
</html>
