<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>ContaCal - o seu diário alimentar virtual!</title>
  <meta name="description" content="Sistema simples e eficiente para controlar suas calorias diárias. Basta vc registrar suas refeições e o sistema calcula automaticamente a quantidade de calorias ingerida e ainda informa se as calorias ingeridas são do tipo verde, amarela ou vermelha. As cores servem para indicar quão recomendável é ingerir o alimento. Se é um alimento de calorias vermelhas, é melhor evitá-lo ao máximo. Calorias amarelas podem ser ingeridas com moderação. Já as calorias verdes podem ser ingeridas sem restrição. Como sugestão, procure seguir a seguinte regra, não mais que 10% de calorias vermelhas, não mais que 35% de calorias amarelas e pelo menos 55% de calorias verdes.">
  <meta name="keywords" content="contador de calorias, conta calorias, calorias, emagrecer, emagrecimento, controle de calorias, controle de peso, perder peso, diário de calorias, perda de peso, alimentação saudável, nutrição, informação nutricional">
  <link href='/favicon.png' rel='shortcut icon'>
<%= stylesheet_link_tag :all %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>

  <!--[if lt IE 9]>
    <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
  <![endif]-->

  <!--[if lte IE 7]>
    <link href="/assets/iefix.css" media="all" rel="stylesheet" />
  <![endif]-->
</head>
	<%- if current_page?('/payment') or current_page?('/foods/new') or current_page?('/foods') -%>
<body id="dashboard">	                     
	<%- else -%>
<body id="users-engine" class="<%= controller.controller_name %>">
	<%- end -%>
  <header>
    <div id="logo">
      <a href="<%= root_url %>">ContaCal</a>
    </div>
  </header>                    
  <hr />
  <section role="main">
    <%= yield %>
  </section>
  <hr />
  <footer>
    <p>Copyright &copy; 2011 ContaCal. Dúvidas? Sugestões? <%= link_to 'Fale conosco', 'http://www.contacal.com.br/contato/', :target => '_blank' %>!</p>
  </footer>
<script type="text/javascript"> 

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23488782-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
